@import './base.css';



/* li{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a{

  text-decoration: none;
  color: rgb(247, 246, 246);
}

a:hover{
  font-size: large;
} */